<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD MySQL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="card text-center">
        <div class="card-header">
          CRUD - Node.js, Express, MySQL, EJS - TESTING Modulo 12
        </div>
        <header>
       
          <div class="logo">
           Hospital TakeCare 
            </div>
            <nav>
              <a href="/home">Inicio</a>  <!-- enlaces a pestañas--> 
              <a href="/createDoctors">Registro Doctores</a>
              <a href="/listDoctores">Lista Doctores</a>
             <a href="/createPacientes">Registro Pacientes</a>
             <a href="/listPacientes">Lista Pacientes</a>
             <a href="/createCita">Agendamiento de citas</a>
             
     </nav>
    </header>
        <div class="card-body">
          <h5 class="card-title">Doctores</h5>
          <p class="card-text">
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Especialidad</th>
                    <th scope="col">Consultorio</th>
                    <th scope="col">Email</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  
                    <% consulta1.forEach(x => { %>

                        <tr>
                            <th scope="row"> <%= x.id %> </th>
                            <td><%= x.nombre %></td>
                            <td><%= x.apellidos %></td>
                            <td><%= x.documento %></td>
                            <td><%= x.especialidad %></td>
                            <td><%= x.consultorio %></td> 
                            <td><%= x.email %></td>
                            <td>
                              <a href="/editarDoctor/<%= x.documento %>" class="btn btn-success">editar</a>
                                <a href="/borrarDoctor/<%= x.documento%>" class="btn btn-danger">borrar</a>
                            </td>
                           
                        </tr>

                        <%
                    }); %>
                  
                </tbody>
              </table>

          </p>
         
        </div>
        <div class="card-footer text-body-secondary">
          Curso BackEnd Básico - Grupo 2
        </div>
      </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>